* {
    padding: 0;
    margin: 0;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.bg-white {
    background-color: #fff;
}

.bg-home {
    background-color: #e9f6fe;
}

.bg-why-gg-hospital {
    background-color: #e9f2ff;
}

.bg-button {
    background-color: #17c1a3;
}

.w-80 {
    width: 80%;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.pt-40 {
    padding-top: 40px;
}

.m0 {
    margin-top: -100px;
}

button.btn-custom {
    background-color: #17c1a3;
}

.back-img {
    background-image: url("/bootstrap/gg asset/image17.png");
    background-size: cover;
    background-position: center;
}

.mid-div {
    height: 100%;
    width: 100%;
    background-color: #e9f6fe;
    color: white;
}

.w-95 {
    width: 95%;
}
#container{
    position: absolute;
    margin-top: 350px;
    height: 650px;
}
#container-first{
    position: relative;
    margin-top: -200px;
}
#footer{
    margin-top: 1050px;
}